@import url('https://fonts.googleapis.com/css2?family=Saira:wght@600&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


hmtl {
  font-family: 'Saira', sans-serif;
}

.hero {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.3) 100%), url(images/hero-img.png);
  height: 100vh;
  color: white;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 64px;
  line-height: 76.8px;
  font-weight: 600;
  text-align: center;
}

.upmenu {
  position: absolute;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
}

.upmenu p {
  position: absolute;
  font-weight: 700;
  font-size: 36px;
  line-height: 56.66px;
  left: 150px;
  top: 28px;
}

#navbar {
  position: absolute;
  top: 44px;
  right: 150px;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding-right: 30px;
  font-size: 19px;
  font-weight: 600;
  line-height: 25.18px;
}
