@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;600&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Saira';
  width: 100%;
  margin: 0;
}

.hero {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.3) 100%), url(images/hero-img.png) no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  height: 100vh;
  color: white;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.hero h1 {
  font-size: 64px;
  line-height: 76.8px;
  font-weight: 600;
  text-align: center;
}

.shopbtn {
  margin-top: 65px;
  width: 257px;
  height: 62px;
  background-color: rgba(226,226,226,0.6);
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

strong {
  font-size: 40px;
}

.table {
  height: 180px;
  width: 100%;
  background-color: #286F6C;
  position: absolute;
  border-radius: 20px;
  top: 640px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 160px;
  padding-left: 160px;
  align-items: center;
  color: white;
  font-family: inherit;
  font-size: 20px;
}

.table p:nth-child(1) {
  border-right: 1px solid white;
  padding-right: 100px;
}
.table p:nth-child(2) {
  border-right: 1px solid white;
  padding-right: 100px;
}
.table p:nth-child(3) {
  border-right: 1px solid white;
  padding-right: 100px;
}

.table p {
  text-align: center;
  padding-left: -100px;
}

.hero p {
  padding: 0;
  margin-top: 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.upmenu {
  position: absolute;
  width: 95vw;
  color: white;
  display: flex;
  justify-content: space-between;
}

.upmenu p {
  position: absolute;
  font-weight: 700;
  font-size: 36px;
  line-height: 56.66px;
  left: 150px;
  top: 28px;
}

#navbar {
  position: absolute;
  top: 44px;
  right: 150px;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.18px;
}
